/* RESET STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    font-family: 'Noto Sans KR', sans-serif !important;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

a {
    color: #fff;
    text-decoration: none !important;
}

li {
    list-style: none;
}

/* HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.clearfixHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.end {
    margin-top: 30px;
    font-size: 3em;
    font-weight: bold;
    opacity: 0;
    -webkit-transform: translateY(300px);
    -ms-transform: translateY(300px);
    transform: translateY(300px);
    -webkit-transition: opacity, -webkit-transform 1s;
    transition: opacity, transform 1s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}


/* NAV STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.fp-viewing-firstSection .header-top {
    height: 70px;
    /* padding: 0 250px; */
    padding: 0 13%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
    font-size: 15px;
}

.fp-viewing-firstSection .header-top .l-left a {
    padding-right: 40px;
    color: #fff;
}

.fp-viewing-firstSection .header-top .l-left a:hover {
    color: #fff;
    font-weight: 600;
}

.fp-viewing-firstSection .header-top .l-right a {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 16px;
    color: #fff;
}

.fp-viewing-firstSection .header-top #header-logo {
    color: #fff;
    font-weight: 600;
}

.fp-viewing-firstSection .header-top .ico_store {
    display: inline-block;
    width: 16px;
    height: 15px;
    background: url("/img/ico_store.png") no-repeat;
    margin-left: 10px;
}

.header-top {
    height: 70px;
    padding: 0 13%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
    box-sizing: border-box;
    border-bottom: 1px solid #EFEFEF;
    font-size: 15px;
}

.l-left a {
    padding-right: 40px;
    color: #C4C4C4;
}

.l-left a:hover {
    color: #000;
    font-weight: 600;
}

.l-right a {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 16px;
    color: #000;
}

#header-logo {
    color: #000;
    font-weight: 600;
}

.ico_store {
    display: inline-block;
    width: 16px;
    height: 15px;
    background: url("/img/ico_store_bk.png") no-repeat;
    margin-left: 10px;
}


/* SECTION STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section {
    text-align: center;
    /*background: url('https://unsplash.it/1910/1221?image=626') no-repeat center / cover;*/
}


/* SLIDENAV STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #ebebeb;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    /* background: transparent; */
    background: #09CEA1;
    box-sizing: border-box;
}

#fp-nav ul li .fp-tooltip {
    width: auto;
    opacity: 1;
    color: #C4C4C4;
    font-size: 14px;
}

#fp-nav ul li a.active+div {
    width: auto;
    opacity: 1;
    color: #09CEA1;
    font-size: 14px;
    font-weight: 600;
}

/* SECTION STYLES - section01
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#section01 {
    color: #fff;
}

.video-wrap {
    position: relative;
    width: 100%;
    /* animation: fadein 2s forwards;
    -moz-animation: fadein 2s forwards; */
    /* Firefox */
    /* -webkit-animation: fadein 2s forwards; */
    /* Safari and Chrome */
    /* -o-animation: fadein 2s forwards; */
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.3;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 1;
    }

    to {
        opacity: 0.3;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 1;
    }

    to {
        opacity: 0.3;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 1;
    }

    to {
        opacity: 0.3;
    }
}

.video-wrap video {
    width: 100%;
    height: 100vh;
    z-index: -200;
    object-fit: fill;
}

.index-title-box {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-shadow: 0 0.2em 0.4em rgb(0 0 0 / 30%);
    margin-right: 70px;
}

.index-text p:first-child {
    font-size: 100px;
    font-weight: 800;
    line-height: 100px;
    margin-bottom: 25px;
}


/* SECTION STYLES - section02
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#section02 {
    color: #000;
}

.section02-title {
    font-size: 55px;
    font-weight: 500;
    margin-bottom: 60px;
}

.slide-depth-1 {
    display: flex;
    justify-content: center;
}

.slide-depth-2 {
    display: flex;
    justify-content: center;
}

.filter-item-box {
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    -webkit-box-pack: center;
}

.filter-item-box .filter-item {
    padding: 17px 34px;
    font-size: 30px;
    color: #000;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid #C4C4C4;
    height: 70px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 10px;
    margin-bottom: 20px;
    position: relative;
}

.slide-depth-1 .filter-item-box .filter-item:nth-child(3) {
    margin-right: 0;
}

.slide-depth-1 .filter-item-box .filter-item:last-child {
    margin-right: 0;
}

.filter-item.active {
    color: #09CEA1;
    border: 1px solid #09CEA1;
}

.filter-item-box .btn-prev {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    width: 80px;
    height: 70px;
    border-radius: 50px;
    background: #09CEA1 url('/img/depth-arrow.png') 50% 50% no-repeat;
    background-size: 13px;
    border: solid 1px #09CEA1;
    font: 0/0 a;
    outline: none;
    margin-right: 0.47619vw;
}

.filter-item-box .btn-search button {
    border: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -1.5px;
    outline: none;
    padding: 0;
}

.filter-item-box .btn-search {
    background: #09CEA1;
    border: solid 1px #09CEA1;
    visibility: hidden;
    position: relative;
    left: 50px;
    padding: 0 1.78571vw;
    border-radius: 50px;
    line-height: 70px;
    height: 70px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.filter-item-box .btn-search.isvisible {
    visibility: visible;
    left: 8px;
    -webkit-animation: search 1s;
    animation: search 1s;
}

@-webkit-keyframes search {
    0% {
        opacity: 0;
        left: 50px;
    }

    100% {
        opacity: 1;
        left: 8px;
    }
}

@keyframes search {
    0% {
        opacity: 0;
        left: 50px;
    }

    100% {
        opacity: 1;
        left: 8px;
    }
}


/* SECTION STYLES - section03
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.bg-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 530px;
    height: 100%;
    background-color: #F6F6F6;
}

.magazine-box {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.magazine-img-01 {
    width: 520px;
    height: 500px;
    background: url('/img/thumb01.png') no-repeat;
    background-size: 100% auto;
    z-index: 11;
    margin-right: 130px;
}

.magazine-img-02 {
    width: 520px;
    height: 500px;
    background: url('/img/thumb02.png') no-repeat;
    background-size: 100% auto;
    z-index: 11;
    margin-right: 130px;
}

.magazine-img-03 {
    width: 520px;
    height: 500px;
    background: url('/img/thumb03.png') no-repeat;
    background-size: 100% auto;
    z-index: 11;
    margin-right: 130px;
}

.magazine-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 500px;
}

.magazine-info-title {
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 15px;
}

.magazine-info-sub {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    padding-top: 35px;
    padding-bottom: 12px;
}

.magazine-info-txt {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.5px;
    padding-bottom: 60px;
}

.magazine-info-writer {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-decoration-line: underline;
    color: #C4C4C4;
}

.swiper-box {
    width: 100%;
    height: 800px;
    overflow: auto;
    margin: 0 auto;
}

.swiper-container {
    width: 100%;
    height: 800px;
}

.swiper-slide {
    text-align: center;
    font-size: 48px;
    font-weight: 500;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.magazine-btn-box {
    display: flex;
    justify-content: flex-end;
}

.magazine-btn {
    width: 100px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #191919;
    box-sizing: border-box;
    border-radius: 50px;
    font-weight: 400;
    font-size: 16px;
}


/* SECTION STYLES - section04
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#section04 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inter-box {
    font-size: 80px;
    font-weight: 600;
    line-height: 110px;
}

.move-arrow {
    background: url('/img/move-arrow.png') 0 0 no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    position: absolute;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation: moving 3.5s infinite;
    animation: moving 3.5s infinite;
}

@-webkit-keyframes moving {
    0% {
        bottom: 40px;
    }

    25% {
        bottom: 20px;
    }

    50% {
        bottom: 40px;
    }

    75% {
        bottom: 20px;
    }

    100% {
        bottom: 40px;
    }
}

@keyframes moving {
    0% {
        bottom: 40px;
    }

    25% {
        bottom: 20px;
    }

    50% {
        bottom: 40px;
    }

    75% {
        bottom: 20px;
    }

    100% {
        bottom: 40px;
    }
}

/* OVER-PAGE STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.over-page {
    display: none;
    position: relative;
}

.over-page.active {
    display: block;
    top: 300px;
}

.over-page .scroll-page {
    position: relative;
    top: 500px;
    z-index: 999;
}

.over-page .scroll-page:before {
    content: "";
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    height: 500px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
}

/* 비전 */
.over-page .scroll-page .vision {
    padding: 130px 0;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    height: 500px;
}

.vision-box {
    display: flex;
    justify-content: center;
}

.vision-title {
    width: 400px;
    font-weight: 800;
    font-size: 55px;
    text-align: left;
    margin-right: 200px;
}

.vision-title p:first-child {
    font-weight: 500;
    font-size: 20px;
}

.vision-title p:last-child {
    font-family: 'M PLUS 1', sans-serif;
}

.vision-info {
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-align: left;
    margin-top: 17px;
}

.over-page .scroll-page .vision-img {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    padding: 105px 0 400px 0;
}

.left-img-box {
    width: 520px;
    height: 700px;
    margin-right: 20px;
}

.right-img-box {
    width: 640px;
    height: 400px;
}


/* 미션 */
.over-page .scroll-page .mission {
    padding: 130px 0;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    height: 500px;
}

.mission-box {
    display: flex;
    justify-content: center;
}

.mission-title {
    width: 400px;
    font-weight: 800;
    font-size: 55px;
    text-align: left;
    margin-right: 200px;
}

.mission-title p:first-child {
    font-weight: 500;
    font-size: 20px;
}

.mission-title p:last-child {
    font-family: 'M PLUS 1', sans-serif;
}

.mission-info {
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-align: left;
    margin-top: 17px;
}

.over-page .scroll-page .mission-img {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    padding: 105px 0 400px 0;
}

.left-mission-img {
    width: 630px;
    height: 420px;
    margin-right: 20px;
}

.right-mission-img {
    width: 530px;
    height: 300px;
}


/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
    height: 385px;
    background-color: #222222;
    color: #C4C4C4;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 16px;
}

.footer-logo {
    width: 20%;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    margin-right: 200px;
}

.footer-wrap {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
}

.footer-wrap .footer-top-box {
    width: 1034px;
    display: flex;
    justify-content: space-between;
    line-height: initial;
    margin-bottom: 50px;
}

.footer-wrap .footer-bottom-box {
    display: flex;
    flex-direction: column;
    line-height: initial;
}

.footer-wrap .footer-bottom-box div:first-child {
    padding-bottom: 5px;
}

/* 드롭다운 메뉴 */
.dropdown-container {
    position: relative;
    width: 250px;
    height: 60px;
    display: inline-block;
}

.dropdown-control {
    -webkit-box-align: center;
    align-items: center;
    box-shadow: none;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    position: relative;
    box-sizing: border-box;
    color: #C4C4C4;
    border-radius: 4px;
    transition: all 100ms ease 0s;
    padding: 8px;
    background: #222;
    border: 0.8px solid #C4C4C4;
    border-image: initial;
    outline: 0px !important;
    cursor: pointer;
    transition: 300ms;
}

.dropdown-control:focus {
    border-color: var(--orange-opacity);
    box-shadow: var(--input-box-shadow) var(--orange-opacity);
}

.dropdown-value-container {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    flex: 1 1 0%;
    padding: 2px 8px;
    overflow: hidden;
    height: 30px;
}

.dropdown-value {
    color: #C4C4C4;
    max-width: calc(100% - 8px);
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    opacity: 1;
    overflow: hidden;
    transition: opacity 300ms ease 0s;
}

.dropdown-arrow-container {
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-shrink: 0;
}

.css-bgvzuu-indicatorSeparator {
    align-self: stretch;
    background-color: #ccc;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 1px;
    box-sizing: border-box;
}

.dropdown-arrow {
    color: #ccc;
    display: flex;
    box-sizing: border-box;
    padding: 8px;
    transition: color 150ms ease 0s;
}

.dropdown-arrow-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    fill: currentcolor;
    line-height: 1;
    stroke: currentcolor;
    stroke-width: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    width: 100%;
    padding: 0.5rem 0;
    margin-top: 8px;
    font-size: 16px;
    color: #C4C4C4;
    background-color: #222;
    background-clip: padding-box;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
}

.dropdown-menu:first-child {
    position: static;
    display: block;
}

.dropdown-item {
    display: block;
    padding: 12px 20px;
    clear: both;
    font-weight: 400;
    color: inherit;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.dropdown-item:hover {
    color: #C4C4C4;
    background: #222;
}

.dropdown-focus .dropdown-control {
    border-color: var(--orange-opacity);
    box-shadow: var(--input-box-shadow) var(--orange-opacity);
}

.dropdown-focus .dropdown-menu {
    display: block;
}

.dropdown-focus .dropdown-arrow-icon {
    fill: var(--orange);
    opacity: 1;
}

.dropdown--ltr .dropdown-value-container {
    margin-right: 4px;
}

.dropdown--ltr .dropdown-arrow-container {
    /* border-left: 1px solid #C4C4C4; */
    padding-left: 5px;
}

.dropdown--ltr .dropdown-menu {
    left: 0;
}

.dropdown--ltr.dropdown-focus .dropdown-arrow-container {
    border-left-color: var(--orange-opacity);
}

.dropdown--rtl .dropdown-value-container {
    margin-left: 4px;
}

.dropdown--rtl .dropdown-arrow-container {
    border-right: 1px solid #C4C4C4;
    padding-right: 5px;
}

.dropdown--rtl .dropdown-menu {
    right: 0;
}

.dropdown--rtl.dropdown-focus .dropdown-arrow-container {
    border-right-color: var(--orange-opacity);
}

/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 767px) {}

@media screen and (max-width: 400px) {}