#contaniner {
    width: 100%;
    /* height: 100%; */
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    background-color: #F4F3F8;
    flex-flow: column;
}

/* ========================= section 1 ========================= */
.notice_section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 5% 10% 5% 10%;
}

.noticeSectionTitle {
    font-size: 28px;
    font-weight: 500;
}

/* ========================= section 2 ========================= */
.notice_section2 {
    display: flex;
    justify-content: center;
    /* justify-items: center; */
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.notice_section2_user {
    width: 100%;
    background-color: white;
    border: 3px solid;
    border-image-source: linear-gradient(0.45turn, #de93d1, #b8aaed, #c1b2fb, #c1cdf8, #c0defb);
    border-image-slice: 1;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* 고객센터 아코디언 FAQ */
.accordion-menu {
    width: 100%;
    background: #fff;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
}

.accordion-menu li.open .dropdownlink {
    background: linear-gradient(0.45turn, #de93d1, #b8aaed, #c1b2fb, #c1cdf8, #c0defb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    border-bottom: 0;
}

.accordion-menu li.open .dropdownlink .fa-chevron-down {
    transform: rotate(180deg);
}

.accordion-menu li:last-child .dropdownlink {
    border-bottom: 0;
}

.dropdownlink {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 15px;
    font-size: 18px;
    /* border-bottom: 1px solid #ccc; */
    border-bottom: 2px solid;
    border-image-source: linear-gradient(0.45turn, #de93d1, #b8aaed, #c1b2fb, #c1cdf8, #c0defb);
    border-image-slice: 1;
    color: #212121;
    position: relative;
    transition: all 0.4s ease-out;
    line-height: 2;
}

.dropdownlink i {
    position: absolute;
    top: 17px;
    left: 16px;
}

.dropdownlink .fa-chevron-down {
    right: 12px;
    left: auto;
}

.submenuItems {
    display: none;
    background: transparent;
}

.submenuItems li {
    /* border-bottom: 1px solid #B6B6B6; */
    border: 2px solid;
    border-image-source: linear-gradient(0.45turn, #de93d1, #b8aaed, #c1b2fb, #c1cdf8, #c0defb);
    border-image-slice: 1;
    display: block;
    color: black;
    padding: 12px 12px 12px 28px;
    transition: all 0.4s ease-out;
    font-size: 16px;
    line-height: 2;
    margin: 0 20px 0 20px;
}


/* ========================= section 3 ========================= */
.user_section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
