a {
  color: #313131;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a,
a:hover {
  text-decoration: none !important;
}

h2 {
  font-size: 20px;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
}

body:before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

body.show-sidebar {
  overflow: hidden;
}

body.show-sidebar:before {
  opacity: 1;
  visibility: visible;
}

.site-section {
  padding: 7rem 0;
}

aside,
main {
  /* height: 100vh; */
  min-height: 580px;
}

aside {
  width: 380px;
  right: 0;
  z-index: 1001;
  position: fixed;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  color: #fff;
  background: linear-gradient(0.45turn, #c0defb, #c1cdf8, #c1b2fb, #b8aaed, #de93d1);

  -webkit-transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1), 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
}

.show-sidebar aside {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

aside .toggle {
  padding-right: 48px;
  padding-top: 48px;
  position: absolute;
  left: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.show-sidebar aside .toggle .burger:before,
.show-sidebar aside .toggle .burger span,
.show-sidebar aside .toggle .burger:after {
  background: #fff;
}

.show-sidebar aside {
  -webkit-box-shadow: -10px 0 30px 0 rgba(0, 0, 0, 0.5);
  box-shadow: -10px 0 30px 0 rgba(0, 0, 0, 0.5);
}

aside .side-inner {
  padding: 20px 0;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

aside .side-inner .share {
  /* padding: 50px; */
}

aside .side-inner .share h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 30px;
}

aside .side-inner .share p {
  color: #fff;
  line-height: 1.8;
  margin-bottom: 30px;
}

aside .side-inner .share form .form-control {
  background: none;
  border-radius: 0;
  height: 56px;
  margin-bottom: 20px;
  color: #fff;
  border-color: rgba(255, 255, 255, 0.2);
}

aside .side-inner .share form .form-control:active,
aside .side-inner .share form .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #fff;
}

aside .side-inner .share form .form-control::-webkit-input-placeholder {
  /* Edge */
  color: #fff;
}

aside .side-inner .share form .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

aside .side-inner .share form .form-control::-ms-input-placeholder {
  color: #fff;
}

aside .side-inner .share form .form-control::placeholder {
  color: #fff;
}

aside .side-inner .share form textarea {
  height: auto !important;
}

aside .side-inner .share form .btn {
  border-color: transparent;
  height: 56px;
  border-radius: 0;
  display: block;
  background: #fff;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .2rem;
}

main {
  /* width: calc(100%); */
  width: 1400px;
}

main .post-entry {
  margin-bottom: 30px;
}

main .post-entry .custom-thumbnail {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  margin-right: 30px;
}

main .post-content h3 {
  font-size: 18px;
}

main .post-content .post-meta {
  font-size: 15px;
  color: #ccc;
}

/* Toggle */
.menu-toggle {
  border: 0;
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
  /* box-shadow: 1px 5px 5px 1px rgb(0 0 0 / 10%); */
  box-shadow: 0.125rem .25rem rgba(0, 0, 0, .08) !important;
}

.menu-toggle span {
  color: #ccc;
  font-size: 30px;
}

.menu-toggle:hover span,
.menu-toggle:focus span {
  color: #000;
}

.menu-toggle.active span {
  color: #fff;
}


/* 메뉴 리스트 */
.sidebar-list {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  float: right;
}

.sidebar-item {
  padding: 20px 50px 20px 20px;
  text-align: right;
}

.slideLogo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 24px;
  padding: 20px 0px 20px 20px;
  border-bottom: 1px solid black;
}

.slideLogo>a>img {
  width: 178px;
  height: 72px;
}



/* ========================= @media CSS ========================= */
@media screen and (max-width : 1024px) {
  .sidebar-list {
    font-size: 18px;
  }
}

@media screen and (max-width : 768px) {
  aside {
    width: 80%;
  }

  .menu-toggle span {
    color: #ccc;
    font-size: 24px;
  }

  .slideLogo>a>img {
    width: 150px;
    height: 60px;
  }
}