body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

#contaniner {
    width: 100%;
    /* min-height: 100vh; */
    overflow-x: hidden;
    display: flex;
    /* justify-content: center; */
    background-color: #F4F3F8;
    flex-flow: column;
}

/* ========================= section 1 ========================= */
.userMode_section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10% 10% 5% 10%;
}

.userModeTitle {
    font-size: 28px;
    font-weight: 500;
}

.emptyLogo {
    color: transparent;
    font-size: 30px;
}

/* ========================= section 2 ========================= */
.userMode_section2 {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
    min-height: 0;
    min-width: 0;
    grid-template-columns: repeat(2, 1fr);
    /* justify-items: center; */
    /* margin: 0px 200px 80px 200px; */
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.userMode_section2_user {
    background-color: white;
    height: 70%;
    /* height: 100%; */
}

.userTitle {
    background: linear-gradient(0.25turn, #de93d1, #b8aaed, #c1b2fb, #c1cdf8, #c0defb);
    font-size: 20px;
    font-weight: 400;
    color: white;
    padding: 20px 20px 20px 40px;
}

.userMode_section2_setting {
    background-color: transparent;
    display: grid;
    grid-row-gap: 12px;
}

.userMode_section2_setting>a {
    height: 100%;
}

.settingItems {
    height: 70px;
    background: linear-gradient(0.25turn, #de93d1, #b8aaed, #c1b2fb, #c1cdf8, #c0defb);
    font-size: 20px;
    font-weight: 400;
    color: white;
    padding: 20px 40px 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userContent {
    display: flex;
    flex-direction: column;
}

.userContent1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5% 5% 5% 8%;
}

.userContent2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 5%;
}

.userContentText {
    padding-right: 10px;
    font-size: 18px;
}

#buttonModify {
    width: 110px;
    height: 35px;
    border: 0;
    border-radius: 2rem;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    background-color: #EFEFEF;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.1);
}

/* ========================= section 3 ========================= */
.userMode_section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}


/* ========================= @media CSS ========================= */
@media screen and (max-width : 1024px) {
    .userMode_section2 {
        display: grid;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        grid-template-rows: auto;
        min-height: 0;
        min-width: 0;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 7%;
        margin-right: 7%;
        margin-bottom: 3%;
    }

    .userModeTitle {
        font-size: 24px;
        font-weight: 500;
    }

    .userMode_section2_user {
        background-color: white;
        height: 100%;
    }
}

@media screen and (max-width : 768px) {
    .emptyLogo {
        color: transparent;
        font-size: 24px;
    }

    .userModeTitle {
        font-size: 22px;
        font-weight: 500;
    }

    .userTitle {
        font-size: 18px;
        font-weight: 400;
        padding: 20px 20px 20px 40px;
    }

    .settingItems {
        height: 65px;
        font-size: 18px;
        font-weight: 400;
        padding: 20px 40px 20px 40px;
    }

    .userContentText {
        padding-right: 10px;
        font-size: 16px;
    }

    #buttonModify {
        width: 100px;
        font-size: 14px;
    }
}