body {
    background-color: #F4F3F8;
    display: flex;
    justify-content: center;
}

#contaniner {
    width: 100%;
    /* height: 100%; */
    overflow-x: hidden;
    display: flex;
    /* justify-content: center; */
    background-color: #F4F3F8;
    flex-flow: column;
}

/* ========================= section 1 ========================= */
.userMode_section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4% 10% 1% 10%;
}

.userModeTitle {
    font-size: 28px;
    font-weight: 500;
}

.emptyLogo {
    color: transparent;
    font-size: 30px;
    width: 50px;
    height: 111px;
}

/* ========================= section 2 ========================= */
.userMode_section2 {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
    min-height: 0;
    min-width: 0;
    /* grid-template-columns: repeat(2, 1fr); */
    /* justify-items: center; */
    margin: 0 10% 3% 10%;
}

.userMode_section2_user {
    background-color: white;
    /* height: 100%; */
}

.userTitle {
    background: linear-gradient(0.25turn, #de93d1, #b8aaed, #c1b2fb, #c1cdf8, #c0defb);
    font-size: 18px;
    font-weight: 400;
    color: white;
    padding: 20px 20px 20px 40px;
}

.userMode_section2_setting {
    background-color: transparent;
    display: grid;
    grid-row-gap: 12px;
}

.userMode_section2_setting>a {
    height: 100%;
}

.settingItems {
    height: 70px;
    background: linear-gradient(0.25turn, #de93d1, #b8aaed, #c1b2fb, #c1cdf8, #c0defb);
    font-size: 18px;
    font-weight: 400;
    color: white;
    padding: 20px 40px 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userContent {
    display: flex;
    flex-direction: column;
}

.userContent1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 40px 52px 40px 52px;
}

.userContent2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 40px;
}

.userContentText {
    padding-right: 10px;
    font-size: 18px;
}

#buttonModify {
    width: 110px;
    height: 35px;
    border: 0;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    background-color: #EFEFEF;
    box-shadow: 0.125rem .25rem rgba(0, 0, 0, .08) !important;
}


/* ========================= section 2 ========================= */
.guardMode_section2 {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
    min-height: 0;
    min-width: 0;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.guardMode_section2_app {
    background-color: white;
    border: 3px solid;
    border-image-source: linear-gradient(0.45turn, #de93d1, #b8aaed, #c1b2fb, #c1cdf8, #c0defb);
    border-image-slice: 1;
    padding: 6%;
}

.guardMode_section2_device {
    background-color: white;
    border: 3px solid;
    border-image-source: linear-gradient(0.45turn, #de93d1, #b8aaed, #c1b2fb, #c1cdf8, #c0defb);
    border-image-slice: 1;
    padding: 6%;
}

.appMenuTitle {
    font-size: 18px;
    font-weight: 500;
}

.guardTitle {
    font-size: 18px;
    font-weight: 500;
    margin: 60px 0 20px 0;
}

.guardInput {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    /* margin-bottom: 20px; */
}

.guardInput>form {
    width: 100%;
}

.productTitle {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.productInput {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    /* margin-bottom: 20px; */
}

.productInput>form {
    width: 100%;
}

.addProductBtn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 3px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    color: #fff;
    background-color: #b8aaed;
    height: 40px;
}

.appMenuItemsList {
    display: flex;
    justify-content: space-between;
    padding: 1% 3% 2% 1%;
    border-bottom: 3px solid;
    border-image-source: linear-gradient(0.45turn, #de93d1, #b8aaed, #c1b2fb, #c1cdf8, #c0defb);
    border-image-slice: 1;
    font-size: 18px;
}

.appMenuItems {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 2% 3% 2% 2%;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(0.45turn, #de93d1, #b8aaed, #c1b2fb, #c1cdf8, #c0defb);
    border-image-slice: 1;
    font-size: 16px;
    align-items: center;
}

.appMenuItems .close {
    cursor: pointer;
    color: #b8aaed;
}

.appMenuText {
    font-size: 17px;
    padding-left: 15px;
}

.deleteGuardBtn {
    border: 0;
    background: transparent;
    font-size: 22px;
    color: #b8aaed;
    display: flex;
    align-items: center;
}

.guardMode_section2_deviceCont {
    display: grid;
    grid-row-gap: 20px;
    grid-template-rows: auto;
}

.addGuardBtn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 3px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    color: #fff;
    background-color: #b8aaed;
    height: 40px;
}

.guardListCont div{
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 2% 3% 2% 2%;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(0.45turn, #de93d1, #b8aaed, #c1b2fb, #c1cdf8, #c0defb);
    border-image-slice: 1;
    font-size: 16px;
    align-items: center;
}

.guardListCont div span {
    padding-left: 15px;
}

.guardListCont div button{
    cursor: pointer;
    color: #b8aaed;
    background: transparent;
    border: 0;
    font-size: 22px;
}


/* ========================= switch CSS ========================= */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background: linear-gradient(0.25turn, #c0defb, #c1cdf8, #c1b2fb, #b8aaed, #de93d1);
}

input:focus+.slider {
    box-shadow: 0;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* ========================= input text CSS ========================= */
.field {
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.field:nth-child(2) {
    margin-top: 20px;
}

.field input {
    height: 100%;
    width: 80%;
    padding-left: 25px;
    outline: none;
    border: none;
    font-size: 14px;
    background: #F4F3F8;
    color: #595959;
    border-radius: 25px;

    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #ffffff73;
    -webkit-appearance: none;
    -moz-box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #ffffff73;
    -webkit-box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #ffffff73;
}

.field input:focus {
    box-shadow: inset 1px 1px 2px #BABECC,
        inset -1px -1px 2px #ffffff73;
}

.field p {
    width: 30px;
    color: #595959;
    line-height: 50px;
    margin-right: 20px;
}

.field label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 70px;
    pointer-events: none;
    color: #666666;
}

.field input:valid~label {
    opacity: 0;
}


/* ========================= @media CSS ========================= */
@media screen and (max-width : 1024px) {
    main {
        width: calc(85%);
    }

    .userMode_section1 {
        margin: 4% 0% 1% 0%;
    }

    .userMode_section2 {
        display: grid;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        grid-template-rows: auto;
        min-height: 0;
        min-width: 0;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .userModeTitle {
        font-size: 24px;
        font-weight: 500;
    }

    .userMode_section2_user {
        background-color: white;
        height: 100%;
    }

    .guardMode_section2 {
        display: grid;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        grid-template-rows: auto;
        min-height: 0;
        min-width: 0;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 70px;
    }

    .guardModeTitle {
        font-size: 24px;
        font-weight: 500;
    }

    .appMenuTitle {
        font-size: 16px;
        font-weight: 500;
    }

    .appMenuText {
        font-size: 18px;
        padding-left: 15px;
    }

    .guardTitle {
        font-size: 18px;
    }
}

@media screen and (max-width : 768px) {
    .emptyLogo {
        color: transparent;
        font-size: 24px;
    }

    .userContent1 {
        margin: 15px 25px 15px 25px;
    }

    .userContent2 {
        margin: 10px 15px 20px 15px;
    }

    .userModeTitle {
        font-size: 22px;
        font-weight: 500;
    }

    .userTitle {
        font-size: 16px;
        font-weight: 400;
        padding: 17px 17px 17px 30px;
    }

    .settingItems {
        height: 65px;
        font-size: 18px;
        font-weight: 400;
        padding: 20px 40px 20px 40px;
    }

    .userContentText {
        padding-right: 10px;
        font-size: 16px;
    }

    #buttonModify {
        width: 100px;
        font-size: 14px;
    }

    .guardModeTitle {
        font-size: 22px;
        font-weight: 500;
    }

    .appMenuText {
        font-size: 16px;
        padding-left: 15px;
    }

    .guardTitle {
        font-size: 16px;
        margin: 40px 0 10px 0;
    }

    .addGuardBtn {
        width: 50px;
        height: 40px;
        line-height: 1.2;
        padding: 4px 10px;
        font-size: 13px;
    }

    .productTitle {
        font-size: 16px;
        font-weight: 500;
        margin: 0 0 10px 0;
    }
}